<footer>

    <div class="copyright">
        <p>Copyright ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            All rights reserved | Powered by <a href="#" target="_blank">Defacto Tech Solutions</a>
        </p>
    </div>

</footer>