<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="early">
       <div class="text">
        <h1>Error 404 - Page not found</h1>
      </div>

    </main>

  </body>

</html>