<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="scan">
      <div class="text">
        <h4>WATCH THE</h4>
        <h1>FULL AD!</h1>

        <h3>TO INCREASE YOUR <br>
          CHANCES OF WINNING </h3>
      </div>

      <div id="ad" class="ad">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/emQFO_DPIkw" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="button">
        <a class="btn" href="/users/close">Check status</a>
      </div>

      <div class="timer">
        <div class="image"><img src="" alt="clock"></div>
        <div class="text">
          <h4>countdown timer <br>
          15 - 20s</h4>
        </div>
      </div>

    </main>
    <script src="../js/axios-1.4.0.min.js"></script>
    <script src="../js/site.js"></script>
  </body>

</html>