<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="early">
      <div class="padlock"><img src="/images/padlock.png" alt="padlock"></div>
      <div class="text">
        <h1>TOO EARLY!</h1>

        <h3>COUPON WILL BE <br>
          UNLOCKED AT A </h3>
          <h2>RANDOM TIME</h2>
          <h3>TODAY!</h3>

          <h4>TRY AGAIN LATER!</h4>
      </div>

    </main>

  </body>

</html>