<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="scan">
      <div class="text">
        <h4>WATCH THE</h4>
        <h1>FULL AD!</h1>

        <h3>TO INCREASE YOUR <br>
          CHANCES OF WINNING </h3>
      </div>

      <div class="ad">
        <img src="" alt="ad">
      </div>

      <div class="timer">
        <div class="image"><img src="" alt="clock"></div>
        <div class="text">
          <h4>countdown timer <br>
          15 - 20s</h4>
        </div>
      </div>

    </main>

  </body>

</html>