<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="early">
      <div class="padlock"><img src="/images/padlock.png" alt="padlock"></div>
      <div class="text">
        <h1>SCAN LIMIT</h1>

        <h3>THIS COUPON HAS REACHED <br>
          IT'S SCAN LIMIT</h3>

        <h3>WAIT FOR ANOTHER COUPON</h3>

          <h4>TRY AGAIN LATER!</h4>
      </div>

    </main>

  </body>

</html>