<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

  <body>
    <main class="win">
      <div class="winner">
        <div class="star"><img src="/images/1st_star.png" alt="golden star"></div>
        <div class="text">
          <h1>YOU WON <br>
            A FREE MEAL!</h1>

          <h3>ENTER YOUR DETAILS <br>
            TO REDEEM YOUR PRIZE!</h3>
        </div>
      </div>

      <div class="contact">
        <form method="post" action="/users/win">
          <div class="firstname">
            <input type="text" name="firstname" placeholder="firstname" required>
          </div>
          <div class="surname">
            <input type="text" name="surname" placeholder="surname" required>
          </div>
          <div class="number">
            <input type="tel" name="number" placeholder="phone number" minlength="10" maxlength="10" required>
          </div>
          <div class="submit">
            <button type="submit">SEND</button>
          </div>
        </form>
      </div>

      <div class="notice">
        <div class="danger">
          <img src="/images/warning.png" alt="danger">
        </div>
        <div class="text">
          <p>YOUR PHONE NUMBER SHOULD BE REACHABLE.</p>
          <p>WE SHALL CALL YOUR LINE FOR CONFIRMATION.</p>
        </div>
      </div>

    </main>

  </body>

</html>