* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* win page style begins here */
  .winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }

  .winner .star {
    text-align: center;
  }
  .winner img {
    width: 50%;
  }

  .winner .text {
    text-align: center;
  }

  .winner .text h1 {
    margin-bottom: 0.6rem;
  }
  .winner .text h3 {
    color: rgb(1, 85, 26);
  }
  form {
    text-align: center;
  }

  form input {
    border: 0.05rem solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgb(210, 210, 210);
  }

  form input::placeholder {
    text-align: center;
    font-size: 1rem;
    color: rgb(47, 47, 47);
  }

  form button {
    border-style: none;
    border-radius: 0.4rem;
    margin: 0.5rem;
    padding: 0.4rem 1.5rem;
    background-color: rgb(1, 85, 26);
    color: white;
    font-size: 1rem;
  }

  .notice {
    display: flex;
    flex-direction: row;
    color: rgb(172, 11, 11);
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .notice .danger {
    width: 15%;
  }

  .notice .danger img {
    width: 100%;
  }
  .win .notice .text {
    margin: 1rem 0;
    width: 85%;
  }
  /* win page style ends here */

  /* confirm page style starts here */
  .confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 5rem 0;
  }

  .checkmark {
    width: 40%;
  }
  .checkmark img {
    width: 100%;
  }
  .confirm .text {
    margin: 1rem 0;
  }
  .confirm .text .h3{
    color: red;
  }

  .confirm button{
    color: white;
    background-color: rgb(17, 212, 17);
    border-style: none;
    width: 5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  /* confirm page style ends here */

  /* lose page styles begins here*/
  .lose {
    margin-top: 1.7rem;
  }
  .loser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    z-index: 99;
  }

  .loser .smiley {
    text-align: center;
  }

  .loser .smiley img {
    width: 50%;
  }

  .loser .text {
    text-align: center;
  }

  .loser .text h1 {
    margin: 0.5rem;
    color: rgb(207, 5, 5);
  }

  .loser .text h3 img {
    width: 6%;
  }

  .loser .text h3 {
    color: rgb(3, 129, 3);
    margin: 0.3rem;
  }
  .loser .text h3 span {
    color: rgb(198, 10, 10);
  }

  .lose .contact {
    background-color: rgb(198, 10, 10);
    width: 100%;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
  }

  .lose .notice {
    color: white;
    margin-bottom: 1rem;
  }

  .lose .notice .text {
    width: 70%;
    font-size: 1rem;
  }
  /* loser styles ends here */

  /* early styles begins here */
  .early {
    text-align: center;
    margin-top: 2.5rem;
  }

  .early .padlock img {
    width: 60%;
  }

  .early h1 {
    color: red;
    font-size: 2.8rem;
    margin: 1.3rem 0;
  }

  .early h2 {
    color: red;
    font-size: 2rem;
  }

  .early h3 {
    font-size: 1.5rem;
  }

  .early h4 {
    color: green;
    margin-top: 2.8rem;
    font-size: 1.3rem;
  }
  /* early page style ends here */

  /* scan page style begins here */
  .scan {
    padding: 5rem 1rem;
    text-align: center;
  }

  .scan h1 {
    color: red;
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
  }

  .scan .ad {
    margin: 1.8rem 0;
  }

  .scan .timer h4 {
    color: green;
  }
  /* scan styles begins here */
}
